@font-face {
  font-family: digital-7;
  src: url(assets/fonts/Digital7Italic.ttf);
}

@font-face {
  font-family: microgrammaBold;
  src: url(assets/fonts/Microgramma_D_Extended_Bold.otf);
}

@font-face {
  font-family: BTTF;
  src: url(assets/fonts/BTTF.ttf);
}

html {
  --main-bg: #000019;
  --green: #4ffd10;
  --red-title: #ff430a;
  --yellow-title: #dde038;
  --orange-title: #f0871e;
  --black-digit: #000e07;
  --red-sticker: #570207;
  --grey-sticker: #a0a69f;
  --grey-support: #484648;
  --blue-shadow: #0b325e;
  --bullet-space: 0.17rem;
  --bullet-size: 0.5rem;
  --month-padding: 0.48rem;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main-bg);
}

header {
  display: flex;
  padding-top: 30px;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'BTTF';
  margin: 0;
  padding: 0;
}

.deg_1 {
  background: linear-gradient(var(--red-title), var(--yellow-title));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.deg_2 {
  background: linear-gradient(var(--yellow-title), var(--red-title));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  color: var(--orange-title);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.underline {
  text-decoration: underline;
}

.icon {
  width: 30px;
  height: 30px;
  display: block;
  background-size: cover;
  background-position: center;
}

.githubIcon {
  background-color: var(--orange-title);
  background-image: url('./assets/images/github.png');
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.linkedinIcon {
  background-image: url('./assets/images/linkedin_icon.png');
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .resume {
    font-size: 0.75rem;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}

main {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: center;
}

.cluster {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(assets/images/wall.jpg);
  background-size: cover;
  padding: 0.45rem 0.7rem 0.25rem 0.7rem;
  box-shadow: 1px 1px 56px 10px var(--blue-shadow);
}

.displayers {
  display: flex;
  flex-direction: row;
}

.dateItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#month {
  margin-right: 0.9rem;
}

#day {
  margin-right: 1rem;
}

#moment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0.4rem;
}

.sticker {
  font-family: microgrammaBold;
  font-size: 0.58rem;
  color: var(--grey-sticker);
  padding: 0 0.5rem 0 0.5rem;
  margin-bottom: 0.3rem;
  background-color: var(--red-sticker);
  letter-spacing: 0.1rem;
}

#moment > .sticker {
  font-size: 0.53rem;
  padding: 0 0 0 0;
  margin: 0.3rem 0 0.05rem 0;
}

.describer {
  background-color: black;
  font-size: 0.75rem;
  margin-top: 0.22rem;
  margin-bottom: 0;
  padding-top: 0.1rem;
}

.display {
  display: flex;
  border: 1px inset grey;
}

.digit {
  display: flex;
  width: 1.75rem;
  justify-content: right;
  background-color: var(--black-digit);
  text-align: right;
  height: 2.8rem;
  align-items: center;
}

#monthDisplayer > .digit:first-of-type {
  padding-left: var(--month-padding);
}

#monthDisplayer > .digit:nth-of-type(3) {
  padding-right: var(--month-padding);
}

.value {
  display: block;
  color: var(--green);
  font-family: digital-7;
  font-size: 3.5rem;
}

.ghost {
  position: absolute;
  color: rgba(36, 224, 45, 0.17);
}

#bullets {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  padding: 0 0.3rem 0 0.3rem;
}

.bullet {
  display: block;
  width: var(--bullet-size);
  height: var(--bullet-size);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#moment > .bullet {
  margin-left: 0.25rem;
}

#moment > .sticker {
  margin-top: 0.2rem;
  padding-left: 0.2rem;
}

.blink:first-of-type {
  margin-bottom: var(--bullet-space);
}

.blink:nth-of-type(2) {
  margin-top: var(--bullet-space);
}

.ON {
  background-color: var(--green);
}

.OFF {
  background-color: var(--black-digit);
}

@media screen and (orientation: portrait) and (max-width: 960px) {
  html {
    font-size: 10px;
  }
}

@media screen and (orientation: landscape) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
  html {
    font-size: 25px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
  html {
    font-size: 30px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  html {
    font-size: 40px;
  }
}

@media screen and (min-width: 2561px) and (max-width: 3025px) {
  html {
    font-size: 52px;
  }
}

@media screen and (min-width: 3026px) {
  html {
    font-size: 60px;
  }
}
